

.nickFace {
    height: 20%;
    width: 20%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textBox {
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.internshipBox {
    margin-left: 40px;
    margin-right: 740px;
    
}