

.nickFace {
    height: 20%;
    width: 20%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textBox {
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.internshipBox {
    margin-left: 40px;
    margin-right: 740px;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    flex: 1;
    padding: 15px;
    /* background: #f0f0f0; */
    text-align: center;
}